Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

In [ ]:
%load_ext sql

In [ ]:
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb

In [ ]:
%sql USE dognitiondb

In [ ]:
%sql show tables

In [ ]:
%sql SHOW columns FROM dogs

In [ ]:
%sql DESCRIBE reviews

There are many subtypes of data within these three general categories, as described here:

http://support.hostgator.com/articles/specialized-help/technical/phpmyadmin/mysql-variable-types

The next column in the SHOW/DESCRIBE output indicates whether null values can be stored in the field in the table.  The "Key" column of the output provides the following information about each field of data in the table being described (see https://dev.mysql.com/doc/refman/5.6/en/show-columns.html for more information): 

+ Empty: the column either is not indexed or is indexed only as a secondary column in a multiple-column, nonunique index.
+ PRI: the column is a PRIMARY KEY or is one of the columns in a multiple-column PRIMARY KEY.
+ UNI: the column is the first column of a UNIQUE index. 
+ MUL: the column is the first column of a nonunique index in which multiple occurrences of a given value are permitted within the column.

The "Default" field of the output indicates the default value that is assigned to the field. The "Extra" field contains any additional information that is available about a given field in that table.

In [ ]:
%sql DESCRIBE complete_tests

In [ ]:
%sql SHOW columns FROM exam_answers

In [ ]:
%sql DESCRIBE users

In [ ]:
%sql DESCRIBE site_activities

In [ ]:
%%sql SELECT breed
FROM dogs;

In [ ]:
%%sql
SELECT breed
FROM dogs 
LIMIT 10;

In [ ]:
%%sql
select breed
from dogs 
limit 5,10;

The LIMIT command is one of the pieces of syntax that can vary across database platforms.  MySQL uses LIMIT to restrict the output, but other databases including Teradata use a statement called "TOP" instead.  Oracle has yet another syntax:

http://www.tutorialspoint.com/sql/sql-top-clause.htm

Make sure to look up the correct syntax for the database type you are using.

In [ ]:
%%sql
select breed_type,breed,breed_group
from dogs LIMIT 5,20

In [ ]:
%%sql
select *
from reviews LIMIT 5,20

In [ ]:
%%sql
select median_iti_minutes,median_iti_minutes/60
from dogs limit 5,10

In [ ]:
%%sql
SELECT dog_guid, subcategory_name, test_name
FROM reviews
LIMIT 15

In [ ]:
%%sql
SELECT activity_type, created_at, updated_at
FROM site_activities
LIMIT 49,10

In [ ]:
%sql SELECT * FROM users LIMIT 1999,20;