Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

In [ ]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb

In [ ]:
%sql USE dognitiondb

In [ ]:
%%sql
select user_guid,free_start_user from users where free_start_user=1 limit 10;

In [ ]:
%%sql
SELECT dog_guid from dogs where dna_tested=1;

The SELECT statement can be used to interact with all data types, and there are many operators and functions that allow you to interact with the data in different ways.  Here are some resources that describe these operators and functions:

http://dev.mysql.com/doc/refman/5.7/en/func-op-summary-ref.html  
http://www.w3resource.com/mysql/mysql-functions-and-operators.php 


Some of the most common operators include: =,<,>,<=, and >=.  If you want to select something that is NOT a specific value, use != or <>.  You can also use logical operators, such as AND and OR.

Let's start by examining how operators can be used with numerical data.

In [ ]:
%%sql
SELECT user_guid from users where membership_type = 2;



 ("s%") = the breed must start with "s", but can have any number of letters after the "s"
 ("%s") = the breed must end with "s", but can have any number of letters before the "s"
 ("%s%") = the breed must contain an "s" somewhere in its name, but can have any number of letters before or after the "s"

In [ ]:
%%sql
select *
from users
where state IN ("NC","NY");

In [ ]:
%%sql
SELECT dog_guid,updated_at
FROM complete_tests
WHERE updated_at < '2015-10-15'
LIMIT 193000,1000;

In [ ]:
%%sql
SELECT user_guid
from users
where state is not NULL;

In [ ]:
%%sql
SELECT dog_guid,subcategory_name,test_name
FROM reviews
WHERE YEAR(created_at) = 2014
LIMIT 10;

In [ ]:
%%sql
SELECT user_guid
FROM dogs
WHERE gender='female' AND breed LIKE("%terrier%");

In [ ]:
%%sql
SELECT dog_guid, test_name, subcategory_name
FROM complete_tests
WHERE DATE(created_at) > '2014-9-30'
LIMIT 100;