Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

In [ ]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

In [ ]:
%%sql
SELECT 'start_time' AS 'exam start time'
from exam_answers;

In [ ]:
%%sql
SELECT DISTINCT breed FROM dogs;

In [ ]:
%%sql
SELECT DISTINCT state, city FROM users;

In [ ]:
%%sql
SELECT DISTINCT test_name, subcategory_name
FROM complete_tests;

In [ ]:
%%sql
SELECT DISTINCT breed
FROM dogs
ORDER BY breed

In [ ]:
%%sql
SELECT distinct user_guid, state, membership_type
from users
where country='US'
ORDER BY state ASC, membership_type ASC;

In [ ]:
%%sql
SELECT DISTINCT user_guid, state, membership_type
FROM users
WHERE country="US" AND state IS NOT NULL and membership_type IS NOT NULL
ORDER BY membership_type DESC, state ASC;

## 4. Export your query results to a text file 

Next week, we will learn how to complete some basic forms of data analysis in SQL.  However, if you know how to use other analysis or visualization software like Excel or Tableau, you can implement these analyses with the SQL skills you have gained already, as long as you can export the results of your SQL queries in a format other software packages can read.  Almost every database interface has a different method for exporting query results, so you will need to look up how to do it every time you try a new interface (another place where having a desire to learn new things will come in handy!). 

There are two ways to export your query results using our Jupyter interface.  

1.  You can select and copy the output you see in an output window, and paste it into another program.  Although this strategy is very simple, it only works if your output is very limited in size (since you can only paste 1000 rows at a time).

2.  You can tell MySQL to put the results of a query into a variable (for our purposes consider a variable to be a temporary holding place), and then use Python code to format the data in the variable as a CSV file (comma separated value file, a .CSV file) that can be downloaded.  When you use this strategy, all of the results of a query will be saved into the variable, not just the first 1000 rows as displayed in Jupyter, even if we have set up Jupyter to only display 1000 rows of the output.  

Let's see how we could export query results using the second method.

To tell MySQL to put the results of a query into a variable, use the following syntax:

>```python
variable_name_of_your_choice = %sql [your full query goes here];
```

In this case, you must execute your SQL query all on one line.  So if you wanted to export the list of dog breeds in the dogs table, you could begin by executing:

>```python
breed_list = %sql SELECT DISTINCT breed FROM dogs ORDER BY breed;
```

**Go ahead and try it:**

In [ ]:
breed_list = %%sql SELECT DISTINCT breed FROM dogs ORDER BY breed;

Once your variable is created, using the above command tell Jupyter to format the variable as a csv file using the following syntax:

>```python
the_output_name_you_want.csv('the_output_name_you_want.csv')
```

Since this line is being run in Python, do NOT include the %sql prefix when trying to execute the line.  We could therefore export the breed list by executing:

>```python
breed_list.csv('breed_list.csv')
```

When you do this, all of the results of the query will be saved in the text file but the results will not be displayed in your notebook.  This is a convenient way to retrieve large amounts of data from a query without taxing your browser or the server.  
     
**Try it yourself:**

In [ ]:
breed_list.csv('breed_list.csv')

You should see a link in the output line that says "CSV results." You can click on this link to see the text file in a tab in your browser or to download the file to your computer (exactly how this works will differ depending on your browser and settings, but your options will be the same as if you were trying to open or download a file from any other website.) 

You can also open the file directly from the home page of your Jupyter account.  Behind the scenes, your csv file was written to your directory on the Jupyter server, so you should now see this file listed in your Jupyter account landing page along with the list of your notebooks.  Just like a notebook, you can copy it, rename it, or delete it from your directory by clicking on the check box next to the file and clicking the "duplicate," "rename," or trash can buttons at the top of the page.

<img src="https://duke.box.com/shared/static/0k33vrxct1k03iz5u0cunfzf81vyn3ns.jpg" width=400 alt="JUPYTER SCREEN SHOT" />


## 5.  A Bird's Eye View of Other Functions You Might Want to Explore

When you open your breed list results file, you will notice the following:

1) All of the rows of the output are included, even though you can only see 1000 of those rows when you run the query through the Jupyter interface.

2) There are some strange values in the breed list.  Some of the entries in the breed column seem to have a dash included before the name.  This is an example of what real business data sets look like...they are messy!  We will use this as an opportunity to highlight why it is so important to be curious and explore MySQL functions on your own. 

If you needed an accurate list of all the dog breeds in the dogs table, you would have to find some way to "clean up" the breed list you just made.  Let's examine some of the functions that could help you achieve this cleaning using SQL syntax rather than another program or language outside of the database.

I included these links to MySQL functions in an earlier notebook:  
http://dev.mysql.com/doc/refman/5.7/en/func-op-summary-ref.html  
http://www.w3resource.com/mysql/mysql-functions-and-operators.php

The following description of a function called REPLACE is included in that resource:

"REPLACE(str,from_str,to_str)  
Returns the string str with all occurrences of the string from_str replaced by the string to_str. REPLACE() performs a case-sensitive match when searching for from_str."

In [ ]:
%%sql
SELECT DISTINCT breed,
REPLACE(breed,'-','') AS breed_fixed
FROM dogs
ORDER BY breed_fixed;



http://www.w3resource.com/mysql/string-functions/mysql-trim-function.php

In [ ]:
%%sql
SELECT DISTINCT breed,
TRIM(LEADING '-' FROM breed) AS breed_fixed
FROM dogs
ORDER BY breed_fixed DESC;

In [ ]:
%%sql
SELECT DISTINCT subcategory_name
FROM complete_tests
ORDER BY subcategory_name ASC;

In [ ]:
%%sql
SELECT DISTINCT country
FROM users 
ORDER BY country ASC;

In [ ]:
%%sql
SELECT user_guid, dog_guid, test_name
FROM complete_tests
ORDER BY created_at ASC
limit 10;

In [ ]:
variable_asked = %sql SELECT DISTINCT user_guid, state, created_at FROM users WHERE state="NC" AND membership_type=2 AND created_at>'2014-03-01' ORDER BY created_at DESC

In [ ]:
variable_asked.csv('variable_asked')

In [ ]:
%%sql
SELECT DISTINCT UPPER(breed) 
FROM dogs
ORDER BY breed;

**Practice any other queries you want to try below!**